# Node dependencies
node_modules/

# Build outputs
dist/
build/
.vite/
coverage/

# System files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.bak
*.tmp

# Env files
.env
.env.*

# Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.local

# Logs
logs/
*.log
lerna-debug.log*

# Don't ignore lockfiles!
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
